<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/casa.js"> </script>
    <script src="/js/depa.js"> </script>

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/accordion-js@3.3.1/dist/accordion.min.css" />

    <script src='https://unpkg.com/accordion-js@3.3.1/dist/accordion.min.js'></script>


</head>

<body style="background-image: url('/imagenes/background.png');">
    <br>
    <div class="d-flex justify-content-center">
        <h3>
            <img width="280" height="140"
                src="https://i0.wp.com/inmu.mx/wp-content/uploads/2022/08/1.png?fit=480%2C240&amp;ssl=1" alt="INMU">
        </h3>
    </div>
    <video id="myvid" style="display: none;"> </video>

    <div class="container">

        <div class="row">
            <div class="col-6 card p-3">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                            aria-controls="nav-home" aria-selected="true">Imagenes Swipper</a>
                        <a class="nav-link" id="nav-casa-tab" data-bs-toggle="tab" href="#nav-casa" role="tab"
                            aria-controls="nav-casa" aria-selected="false">Detalles Casa</a>
                        <a class="nav-link" id="nav-depa-tab" data-bs-toggle="tab" href="#nav-depa" role="tab"
                            aria-controls="nav-depa" aria-selected="false">Detalles Depa</a>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <%- include ("../swiper") %>

                    </div>
                    <div class="tab-pane fade" id="nav-casa" role="tabpanel" aria-labelledby="nav-casa-tab">
                        <%- include ("./templates/casa") %>

                    </div>
                    <div class="tab-pane fade" id="nav-depa" role="tabpanel" aria-labelledby="nav-depa-tab">

                        <%- include ("./templates/depa") %>

                    </div>

                </div>
            </div>
            <div id="preview" class="col-4 ml-5">

            </div>
        </div>

        <br>
        <br>
    </div>
</body>

<script>
    function sleep(miliseconds) {
        var currentTime = new Date().getTime();

        while (currentTime + miliseconds >= new Date().getTime()) {
        }
    }

    const delay = ms => new Promise(res => setTimeout(res, ms));

    array = ["1", "2", "3", "5"]
    console.log()

    var contactTemplate = ` <%- include ("./templates/contactTemplate") %> `
    var formTemplate = ` <%- include ("./templates/swiperTemplate") %> `
    var formTemplate2 = ` <%- include ("./templates/planosTemplate") %> `
    var test = ` <%- include ("./templates/test") %> `

    var dataFinal = {
        map_id: 1,
        infoopen: 0,
        approved: 1,
        retina: 0,
        type: 0, did: "",
        sticky: 0,
        other_data: 'a:2:{s:10:"hover_icon";s:69:"//inmu.mx/wp-content/plugins/wp-google-maps/images/spotlight-poi2.png";s:12:"hover_retina";s:1:"0";}',
        layergroup: 0,
        lat: "",
        pic: "",
        link: "",
        icon: "",
        lng: "",
        did: "",
    }

    $(document).on('click', '.acContactar', function (e) {
        $('.ac-trigger').each(function () {
            if (!$(this).hasClass('acContactar') && $(this).parent().parent().hasClass('is-active'))
                acc.close($(this).index('.ac-trigger'))
        })
    })

    var linkSwiper = []
    $(document).on('change', '#linkSwipper', function (e) {
        var links = $(this).val().split('\n')
        duration = []
        linkSwiper = links.filter(function (event) {
            return event.includes('http');
        });

        for (let i = 0; i < linkSwiper.length; i++) {
            if (linkSwiper[i].includes('mp4')) {
                $('#myvid').attr("src", linkSwiper[i])
                myvid.addEventListener('durationchange', function () {
                    duration[i] = String(myvid.duration).replace(".", "")
                    console.log(duration)
                });
            }
        }

        if (linkSwiper.length > 0) {
            alert('Links Cargados Correctamente')
        } else {
            alert('Error: No se cargaron los links correctamente')
        }


    })

    $(document).on('click', '.ac-trigger', function (e) {
        if (!$(this).hasClass("acContactar")) {

            if ($('.acCustom').hasClass('is-active'))
                acc.close($('.acCustom').find('.ac-trigger').index('.ac-trigger'))
        }

    });

    $(document).on('click', '#mas', function () {
        $(formTemplate).appendTo('#content').slideDown('normal');

        $("html, body").animate({ scrollTop: $(document).height() }, 1000);
    });

    $(document).on('click', '#menos', function () {
        $(this).closest('[name = materiales]').slideUp("normal", function () { $(this).remove(); });

        var index = $(this).closest('[name = materiales]').index('[name = materiales]')
        if (duration[index] != undefined)
            duration.splice(index, 1)
    });

    $(document).on('click', '#mas2', function () {
        $(formTemplate2).appendTo('#content2').slideDown('normal');

        $("html, body").animate({ scrollTop: $(document).height() }, 1000);
    });


    $(document).on('click', '#Enviar', function () {
        enviarExcel()
    });



    $(document).on('click', '#menos2', function () {
        $(this).closest('[name = materiales2]').slideUp("normal", function () { $(this).remove(); });

    });

    //Handler de videos para agregar su duracion
    var myvid = document.getElementById('myvid');
    var duration = []

    $(document).on('change', '[name = linkSwipper]', async function () {
        index = $(this).index('[name = linkSwipper]')
        if ($(this).val().includes('mp4')) {
            $('#myvid').attr("src", $(this).val())
            myvid.addEventListener('durationchange', function () {
                duration[index] = String(myvid.duration).replace(".", "")
                console.log(duration)
            });
        }
    })


    function multipleExist(arr, values) {
        return values.every(value => {
            return arr.includes(value);
        });
    }



    $(document).on('click', '#crear', async function () {

        if ($('#nav-casa-tab').hasClass('active')) {



        } else if ($('#nav-depa-tab').hasClass('active')) {
            categorias.push("2")

            $('#nav-depa').find('[name = amenidad]').each(function () {
                if ($(this).is(":checked"))
                    categorias.push($(this).val())

            })
            if (!multipleExist(casaCat, categorias))
                categorias.push("7")

            data.categorias = categorias
            data.recorrido = $('#nav-depa').find('[name = recorrido]').val()
            data.precio = $('#nav-depa').find('[name = precioRango]').val()
            data.descripcion = $('#nav-depa').find('[name = descripcion]').val()

            data.customFields = []

            data.customFields[1] = { name: "Precio", value: $('#nav-depa').find('[name = precioRango]').val() }

        }
        else
            return alert('Asegurate de estar en pestaña de Casa o Departamento')

        console.log(data)


    });

    //$('#preview').html(test)
    // console.log(test)
    //testF()

    function testF() {

        var data = {}
        data.customFields = []

        var iconos = ''

        data.customFields.push({ name: "Descripcion", value: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum" })
        data.customFields.push({ name: "Precio", value: "$15,000.000" })
        data.customFields.push({ name: "Metros", value: "182" })
        data.customFields.push({ name: "Estacionamiento", value: "3" })
        data.customFields.push({ name: "Habitaciones", value: "3" })
        data.customFields.push({ name: "Baños", value: "4" })
        data.customFields.push({ name: "Antiguedad", value: "3 años" })

        $('#precioINMU').html(data.customFields.filter(e => e.name === 'Precio')[0].value)
        data.customFields.splice(1, 1)


        var iconos = '<div class="row rowChange">'
        for (var i = 1; i < data.customFields.length - 1; i++) {
            iconos += '<div class="col center"> <i style ="height: 35px;width:35px;" class ="inmu' + data.customFields[i].name + '"></i> <p class= "iconosText">' + data.customFields[i].value + '</p></div>'
        }
        iconos += "</div>"
        /*
        if (data.customFields.filter(e => e.name === 'Descripcion').length > 0) {
            iconos += '<div name="inmuDescripcion">' + data.customFields[data.customFields.length - 1].value + '</div>'
            data.customFields.pop()
        }
        */
        $('#iconosINMU').append(iconos)
        $('.ac-text').eq(0).append(data.customFields[0].value)


        $('#contactForm').html(contactTemplate)

        $('video.wpgmza-embedded-media').attr('webkit-playsinline', '')
        $('video.wpgmza-embedded-media').attr('playsinline', '')
        $('video.wpgmza-embedded-media').removeAttr('controls');
        $('video.wpgmza-embedded-media').attr('loop', '')
        $('video.wpgmza-embedded-media').attr('muted', 'true')

        var swiper = new Swiper(".mySwiper", {
            loop: false,
            centeredSlides: true,
            speed: 1000,

            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
                pauseOnMouseEnter: true,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            }
        });

        acc = new Accordion('.accordion-container', {
            duration: 400,
            showMultiple: true,
        });
        acc.open(0)

    }

    function eliminarDiacriticos(texto) {
        return texto.normalize('NFD').replace(/[\u0300-\u036f]/g, "");
    }

    function enviarExcel() {
        fetch("/", {
            method: "POST",
            body: JSON.stringify(dataFinal),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.ok) {

                return response.json();
            }
            throw new Error(response.statusText);
        })
            .then(responseJSON => {

                alert('Se Agrego al Excel Correctamente')
            })
            .catch(err => {

                alert(err.message)
            })
    }


</script>


</html>